@import '../../../styles/mixings.scss';

.title {
  font-size: 40px;
  font-weight: 700;

  &.center {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &.medium {
    font-size: 20px;
    font-weight: 600;
  }

  @include media-breakpoint-only(md) {
    font-size: 35px;
  }

  @include media-breakpoint-only(sm) {
    font-size: 30px;
  }

  @include media-breakpoint-only(xs) {
    font-size: 25px;
  }
}
